/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

body {
  padding: 0;
  margin: 0;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  justify-content: end;
  background-color: #000028;
  height: 100%;
}

.header {
  display: grid;
  justify-content: end;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header__block-right {
  display: grid;
  justify-content: end;
}

.header__theme-menu-list {
  list-style-type: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25px;
  top: 0;
  right: 0px;
  bottom: -80px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25px;
  left: 0px;
  bottom: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.header__theme-menu {
  margin-top: 40px;
}

.header__theme-menu-button {
  background-color: rgba(28, 28, 28, 0);
  margin-bottom: 10px;
  border: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--accent-color);
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  width: 70px;
  height: 26px;
}

.title {
  margin-top: 65px;
  margin-bottom: 55px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: 83%;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.subtitle {
  background-color: var(--accent-color);
  color: var(--color-subtitle-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  width: 355px;
  height: 117px;
  margin-bottom: 65px;
}

.content {
  margin-top: 40px;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 116px;
  line-height: 83%;
  color: var(--color-title);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto-fit);
  grid-template-rows: repeat(3, auto-fit);
  gap: 20px;
}

@media (width > 1024px) {
  .page {
    padding: 20px;
  }
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width > 768px) {
  .page {
    padding: 10px;
  }
  .title {
   font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 375px) {
  .page {
    padding: 10px;
  }
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .footer {
    height: 667px;
  }
}